@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* Additional decication styling */
#dedication p{
	font-variant: small-caps;
	line-height: 2;
}

#dedication span{
	font-size: larger;
}
/* end dedication */

/* Begin figure (frontispiece) */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}
/* end figure */

/* Begin Letters - c25 only */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

header > [epub|type~="z3998:salutation"]{
	text-align: initial;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end letters */

/* Begin Bespoke styling */
#chapter-3 blockquote header{
	padding-bottom: 1em;
}

#chapter-3 blockquote header p:first-child{
	padding-bottom: .5em;
	text-transform: uppercase;
}

#chapter-3 blockquote header [epub|type~="z3998:place"]{
	font-style: italic;
	text-align: right;
}

#chapter-3 blockquote > p:nth-child(2n+3):nth-child(-n+9){
	font-variant: small-caps;
	margin-bottom: .5em;
	margin-top: 1em;
	text-align: center;
	text-indent: initial;
}

#chapter-16 .cipher{
	word-break: break-all;
}
/* end bespoke */
